body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', "Press Start 2P";
    background-image: "nightsky.jpg";
}

#gameContainer {
    position: relative;
    width: 400px;
    height: 600px;
    background-image: url("nightsky.jpg");
    border: 2px solid white;
    margin: auto;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10px;
    left: 180px;
    background-color: lime;
    border-radius: 5px;
    box-shadow: 0px 0px 10px cyan;
}

.enemy {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: yellow;
}

h1, p {
    text-shadow: 2px 2px 5px cyan;
}
